.product-details{
	.back{
		a{
			color: #9C0A31;
			font-size: 24px;
		}
	}
	.pannel{
		height: auto !important;
		.title{
			padding: 20px;
			h3{
				font-size: 18px;
				
			}
		}
		.details{
			padding: 20px;
			p{
				font-size: 16px;
			}
		}
	}
}